@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Party!</title>
    </head>
    <body>
        <div>
            <div class="text-center m-2">
                <h3>We'are going to ha ve an exciting party.</h3>
                <h4>And YOU are invited!</h4>
                <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
            </div>
        </div>
    </body>
</html>